.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.jumbotron {
  background: linear-gradient(navy, blue, teal);
  width: 75%;
  height: 20%;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: -400px;
}

.display-4 {
  background: navy;
  font-family: 'Shojumaru', cursive;
  font-size: 40px;
  margin-left: 240px;
  margin-right: 240px;
  color: teal;
  text-align: center;
}

h1 {
  color: teal;
  font-family: 'Faster One', cursive;
  font-size: 52px;
  font-weight: bold;
  text-decoration: underline;
}

h6 {
  color: navy;
  font-family: 'Merienda One', cursive;
  font-size: 15px;
  text-align: center;
}

